@import '../../../variables.scss';

.run-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: no-repeat url('../../../assets/run.png') #e10098;
  background-size: 30px 30px;
  background-position: 50%;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: 0.4s all ease;
  }
}
