@import '../../variables.scss';

.editor {
  padding: 0 40px;
  background-color: $editor-color;

  &__header {
    height: 60px;
    border-bottom: 1px solid transparentize($button-color, 0.7);
  }

  &__title {
    margin: 0;
    height: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  &__body {
    padding: 20px 0;
  }
}
