@import '../../variables.scss';

.editor {
  padding: 0 40px;
  background-color: $editor-color;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid transparentize($button-color, 0.7);
  }

  &__titles {
    display: flex;
    gap: 20px;
  }

  &__title {
    margin: 0;
    height: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  &__body {
    padding: 20px 0;
    overflow: hidden;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $block-color;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $text-type-color;
      border-radius: 20px;
    }
  }
}

.CodeMirror-vscrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background: $block-color;
    -webkit-border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background-color: $text-type-color;
    -webkit-border-radius: 20px;
  }
}

.CodeMirror-scroll,
.CodeMirror-gutter {
  background-color: $editor-color;
}

.inactive {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: $media-tab) {
  .editor__title {
    font-size: 16px;
  }
}
