@import '../../../variables.scss';

.docs-explorer {
  padding: 0 40px;

  &__nav {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid transparentize($button-color, 0.7);
    margin-bottom: 10px;
  }

  &__btn {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background: no-repeat url('../../../assets/svg/back.svg');
    background-size: 15px 15px;
    color: $light-color;
    cursor: pointer;
  }

  &__title {
    font-weight: 400;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__args-container {
    display: flex;
    flex-direction: column;
  }
}
