@import '../../variables.scss';

.main {
  min-height: 100vh;
  background-color: $main-bg-color;

  &__container {
    display: grid;
    grid-template-columns: 23% 50% 24%;
    gap: 15px;
  }

  &__documentation,
  &__response {
    background-color: $editor-color;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: $media-tab-pt) {
  .main {
    &__container {
      grid-template-columns: 100%;
    }
  }
}
