@import '../../../variables.scss';

.text-input {
  margin: auto;
  padding: 10px;
  display: flex;
  background-color: $light-color;
  border-radius: 20px;
  color: $main-bg-color;
  font-size: 20px;

  &__error {
    color: red;
    margin: auto;
  }
}
