.header {
  background-color: #383d5b;
  height: 80px;

  &__container {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    color: #060f2f;
    align-items: center;
  }

  &__lang {
    height: 37px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #b4c3db;
    color: #060f2f;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  &__buttons {
    width: 260px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
