$media-mob-lg: '320px';
$media-mob-lg: '480px';
$media-tab: '760px';
$media-tab-pt: '960px';
$media-desk: '1200px';
$media-desk-lg: '1600px';

$main-bg-color: #060f2f;
$light-color: #f4f6f8;
$block-color: #383d5b;
$editor-color: #1b2240;
$button-color: #b4c3db;
